.website-header {
  padding: 1rem 0;

  background-color: #333333;
}

.website-header__content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100px 1fr;
}

.website-navigation {

}

.website-navigation__list {
  display: flex;
  justify-content: flex-end;
}

.website-navigation__list > li {
  margin-right: 1rem;
  &:last-of-type {
    margin-right: 0;
  }
}

.website-navigation__link {
  color: #fff;
}

.dropdown-menu-item {
  width: 100%;
}
