<header class="website-header wrapper" aria-label="Sitewide Header">
  <section class="website-header__content container">
    <aside class="website-header__logo">

    </aside>
    <nav class="website-header__navigation website-navigation" aria-label="Website">
      <ul class="website-navigation__list">
        <li class="website-navigation__list-item">
          <%= link_to 'Home', root_path, class: 'navbar-brand' %>
        </li>
        <li class="website-navigation__list-item">Item 2</li>
        <li class="website-navigation__list-item">Item 3</li>
      </ul>
    </nav>
  </section>
</header>
