<header aria-label="Sitewide Header">
  <nav aria-label="Website">
    <ul>
      <li>
        <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      </li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </nav>
</header>
