<header class="website-header wrapper" aria-label="Sitewide Header">
  <section class="website-header__content container">
    <aside class="website-header__logo">

    </aside>
    <%= render 'layouts/navigation/navigation' %>
  </section>
</header>
