<header class="website-header wrapper" aria-label="Sitewide Header">
  <section class="website-header__content container">
    <aside class="website-header__logo">
      <%= link_to 'Collabfield', root_path, class: 'website-navigation__link' %>
    </aside>
    <%= render 'layouts/navigation/navigation' %>
  </section>
</header>
