<li class="dropdown-menu-item">
  <div class="dropdown-menu-wrapper">
    <nav class="dropdown-menu" aria-label="Dropdown" data-js="Dropdown">
      <button class="dropdown-menu__button" data-js="Dropdown.Toggle"><%= current_user.name %></button>
      <svg xmlns="http://www.w3.org/2000/svg" class="dropdown-menu__icon" data-js="Dropdown.Icon" viewBox="0 0 448 512"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"/></svg>
      <ul data-js="Dropdown.Menu" class="dropdown-menu__list dropdown-menu-list" aria-expanded="false">
        <li class="dropdown-menu-list__item">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-menu-list__link' %>
        </li>
        <li class="dropdown-menu-list__item">
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-menu-list__link' %>
        </li>
      </ul>
    </nav>
  </div>
</li>
